:root{/* we have  created variabls names for our colors*/
  --clr-dark:#0a0a0a;
  --clr-light:#f1f5f9;
  --clr-slate400:#94a3b8;
  --clr-slate600:#475569;
  --clr-slate800:#1e293b;
  --clr-rose:#e11d48;
  --clr-indigo:#4f46e5;


  /* rose rgb(225,29,72)*/
  /* indigo tgb (79,70,229)*/
  
}

*{
  margin: 0px;
  line-height: calc(1em + 0.5rem);
}
html{
  scroll-behavior: smooth;
}

img,picture,video,canvas,svg{
  display: block;
  max-width: 100%;
  user-select: none; /* makes it so that a user cant select these items*/
}

button{
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
body{
  background-color: var(--clr-dark);
  color: var(--clr-light);/* this sets the color for our text*/
}

a{
  color: var(--clr-rose);
}

strong{
  color: var(--clr-indigo);
}